.clip{
    clip-path: polygon(24% 0, 100% 20%, 78% 100%, 0 77%);

}
.clip0{
    clip-path: polygon(20% 19%, 100% 34%, 79% 96%, 0 80%);

}
  
  code {
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: .7rem 3rem;
    transition: 0.2s;
    border-radius: 2px;
    cursor: pointer;
  }
  
  code:hover {
    letter-spacing: 0.2rem;
    padding: .8rem 3.3rem;
    background: var(--clr);
    color: var(--clr);
    /* box-shadow: 0 0 35px var(--clr); */
    animation: box 3s infinite;
  }
  
  code::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #272822;
  }
  
  code span {
    position: relative;
    z-index: 1;
  }
  code i {
    position: absolute;
    inset: 0;
    display: block;
  }
  
  code i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
  }
  
  code:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
  }
  
  code i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
  }
  
  code:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
  }
  
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes box {
    0% {
      box-shadow: #27272c;
    }
    50% {
      box-shadow: 0 0 25px var(--clr);
    }
    100% {
      box-shadow: #27272c;
    }
  }
  